<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @dentist.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @dentist.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dentist.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @dentist.phone %>
</p>

<%= link_to 'Edit', edit_dentist_path(@dentist) %> |
<%= link_to 'Back', dentists_path %>
